extends layout

block content
    .jarallax#mainpage
        #myCarousel.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
                //li(data-target='#myCarousel', data-slide-to='3')
            // Wrapper for slides
            .carousel-inner(role='listbox')
                .item.active
                    img(src='./images/image1.png', alt='Chania')
                .item
                    img(src='./images/image2.jpg', alt='Chania')
                .item
                    img(src='/images/image3.jpg', alt='Flower')
            // Left and right controls
            a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
        
    
    .jarallax.navigation-menu
        ul
            li.active
                a(href="#") Home
            li
                a(href="#portfolio") Portfolio
            li
                a(href="#contact") Contact Me?
                        
        
    .jarallax#intro
    
    .jarallax#portfolio
    
    .jarallax#contact

    script(type='text/javascript').
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })