extends layout

block content
    .jarallax#mainpage
        #myCarousel.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
                //li(data-target='#myCarousel', data-slide-to='3')
            // Wrapper for slides
            .carousel-inner(role='listbox')
                .item.active
                    img(src='./images/sliderImages/image1.jpg', alt='Chania')
                    .carousel-caption
                        h1 Web Development through Bootstrap workshop
                        img(src="./images/sliderImages/MS_logo.png")
                .item
                    img(src='./images/sliderImages/image2.jpg', alt='Chania')
                    .carousel-caption
                        h1 Poster Presentation at NRHC Conference
                .item
                    img(src='/images/sliderImages/image3.jpg', alt='Flower')
                    .carousel-caption
                        h1 AndroidWear workshop 
            // Left and right controls
            a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
        
    #nav.navbar.navbar-custom
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#collapsedMenu",aria-expanded="false") 
                    span.glyphicon.glyphicon-list
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    
                a.navbar-brand(data-id="#mainpage") Sujil Maharjan
            .collapse.navbar-collapse#collapsedMenu
                ul.nav.navbar-nav.navigate-menu
                    li 
                        a.hvr-sweep-to-bottom.active(data-id="#intro") Introduction
                            span.sr-only 
                    li 
                        a.hvr-sweep-to-bottom(data-id="#portfolio") Portfolio

                
                        
        
    .jarallax#intro
        .contentBlock
            .content
                h1 Sujil Maharjan
                hr
                p.centerWidth.
                    I am a senior Computer Science student at Ramapo College of New Jersey with a zeal for software and web development. Having said that, nothing excites me more than coding for countless hours and sketching algorithms on the board with occasional coffee breaks. I am driven towards creativity and innovation. It has led me from innovating apps at various hackathons to founding clubs on campus to help cultivate new ideas. 

                    My passion for learning adventures motivates me to move outside the box when it comes to problem-solving and innovation. Besides computers, I also like to hike and have unique adventures that can make me curious.
                
                #buttonBarForIntro
                    .col-md-6.col-sm-12
                        a.btn.hvr-sweep-to-bottom#hire(type="button") HIRE ME!
                    .col-md-6.col-sm-12
                        a.btn.hvr-sweep-to-bottom#details(type="button")
                            span DETAIL &nbsp &nbsp
                            span.glyphicon.glyphicon-chevron-down
                
    .jarallax#portfolio
        .contentBlock
            .content
                #experience
                    h1.header-color I also have a bit of experience
                    p.small-font The rows are clickable.

                    // Table containing all the relevant experiences
                    table.table.table-hover
                        thead.header-color
                            th(style="width: 20%") Company
                            th(style="width: 60%") My role
                            th(style="width: 20%") Timeline
                        tbody.table-hover
                            tr
                                td 
                                    | GE Healthcare
                                    .logo-display 
                                        img(src='./images/GE-logo.png')
                                td 
                                    | Software Development Leadership Program Intern
                                    .display-option.description 
                                        ol
                                            li Collaborated with software developers from global teams to implement automated test cases in Agile environment
                                            li Developed integration test framework for waveform verification using Java and AngularJS
                                            li Researched and developed a waveform color comparison algorithm that uses Hue, Saturation, and Brightness for dynamic performance
                                            li Performed Computerized System Validation (CSV) on a tool that injected waveform into the solution
                                            li Developed several APIs and enhanced existing ones to make it more RESTful by using Java and Springboot
                                td June 2016 - Present
                            tr
                                td 
                                    | Microsoft
                                    .logo-display
                                        img(src='./images/MS-logo.png')
                                td 
                                    | Microsoft Student Partner
                                    .display-option.description
                                        ol
                                            li Hosted bi-weekly workshops on technologies such as Azure Machine Learning, Web Development and Internet of Things with attendance of more than 10 students
                                            li Grew a strong technological community of more than 50 students and represented Microsoft on campus
                                td Jan 2016 - May 2016
                            tr
                                td 
                                    | Barneys New York
                                    .logo-display
                                        img(src='./images/BNY-logo.png')
                                td 
                                    | MIS Intern
                                    .display-option.description
                                        ol
                                            li Supported end user requests for information access to various software and frameworks on a daily basis
                                            li Assisted the employees to configure and troubleshoot any issues related with computer system
                                td Jan 2016 - May 2016
                            tr
                                td 
                                    | Ramapo College
                                    .logo-display 
                                        img(src='./images/RCNJ-logo.png')
                                td 
                                    | Research Assistant for Problets Project (NSF)
                                    .display-option.description
                                        ol
                                            li Created a tool to track and analyze the user’s errors in the software, modeling an effective feedback solution for Parsons puzzles software through the error analysis
                                            li Developed a User Interface to integrate Parsons puzzles and improve ease of access using Java platform
                                td Jan 2015 - Jan 2016

                    p.medium-font 
                        | If you would like to look at my projects, please go to my GitHub profile by clicking 
                        a(href='http://www.github.com/smaharj1', target="_blank") HERE
    
                    
    .jarallax
        .contentBlock
            .content
                h1 Related Skills
                hr
                #skills
                    .row
                        .col-md-2.col-sm-6.col-xs-6
                            p.resumeHead C++
                        .col-md-offset-2
                        .col-md-2.col-sm-6.col-xs-6
                            p.resumeHead Java
                        .col-md-offset-2
                        .col-md-2.col-sm-6.col-xs-6
                            p.resumeHead C
                        .col-md-offset-2
                        .col-md-2.col-sm-6.col-xs-6
                            p.resumeHead HTML/CSS
                        .col-md-offset-2
                        .col-md-2.col-sm-6.col-xs-6
                            p.resumeHead Javascript
                        .col-md-offset-2
                        .col-md-2.col-sm-6.col-xs-6
                            p.resumeHead PHP
                        .col-md-offset-2
                        
                h1 Projects
                hr
                #projects
                    .row 
                        .col-md-8.col-sm-12
                            p.resumeHead                      
                                span.glyphicon.glyphicon-plus  
                                a(href="https://github.com/smaharj1/Ishido" target="_blank") &nbsp Ishido Project, the way of the stones
                        .col-md-3.hidden-sm.hidden-xs
                            p.resumeDate Jan 2016 - Current
                        .col-md-offset-2
                    .row 
                        .col-md-8.col-sm-12
                            p.resumeHead                  
                                span.glyphicon.glyphicon-plus  
                                a(href="https://github.com/smaharj1/Contact-Management" target="_blank") &nbsp Contact Management Project
                        .col-md-3.hidden-sm.hidden-xs
                            p.resumeDate Oct 2015 - Dec 2015
                        .col-md-offset-2
                    
                    
                    
    .gap
        .col-md-3.col-xs-12
            h3 GET IN TOUCH 
        .col-md-6
            .contacts
                a(href="http://www.github.com/smaharj1", target="_blank")
                    img(src="./images/icons/github.png")
                    span.footerTag Explore my GitHub
            .contacts
                a(href="https://www.facebook.com/tsujil", target="_blank")
                    img(src="./images/icons/facebook.png")
                    span.footerTag Ping me in Facebook
            .contacts
                a(href="https://www.linkedin.com/in/sujilmaharjan", target="_blank")
                    img(src="./images/icons/linkedin.png")
                    span.footerTag Link with me
            .contacts
                a(href="mailto:smaharj1@ramapo.edu", target="_blank")
                    img#gmail-logo(src="http://www.socialtalent.co/wp-content/uploads/2015/07/Gmail-Logo.png")
                    span.footerTag Email me

    script(type='text/javascript').
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
        $('#nav').affix({
          offset: {
            top: $('#mainpage').height()-$('#nav').height()
          }
        })
        