extends layout

block content
    .jarallax#mainpage
        #myCarousel.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
                //li(data-target='#myCarousel', data-slide-to='3')
            // Wrapper for slides
            .carousel-inner(role='listbox')
                .item.active
                    img(src='./images/sliderImages/image1.jpg', alt='Chania')
                    .carousel-caption
                        h1 Web Development through Bootstrap workshop
                        p.
                            Conducted a workshop as Microsoft Student Partner on Fundamentals of Web Development (HTML/CSS) and power of Bootstrap
                .item
                    img(src='./images/sliderImages/image2.jpg', alt='Chania')
                    .carousel-caption
                        h1 Poster Presentation at NRHC Conference
                        p.
                            Presented Zhang's paper in North Regional Honors Conference about the Prime Gap
                .item
                    img(src='/images/sliderImages/image3.jpg', alt='Flower')
                    .carousel-caption
                        h1 AndroidWear workshop 
                        p.
                            Attended the AndroidWear Workshop conducted by Google Developers Group North Jersey
            // Left and right controls
            a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
        
    #nav.navbar.navbar-custom
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#collapsedMenu",aria-expanded="false") 
                    span.glyphicon.glyphicon-list
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    
                a.navbar-brand(href="#") Sujil Maharjan
            .collapse.navbar-collapse#collapsedMenu
                ul.nav.navbar-nav.navigate-menu
                    li 
                        a.hvr-sweep-to-bottom.active(href="#intro") Introduction
                            span.sr-only 
                    li 
                        a.hvr-sweep-to-bottom(href="#portfolio") Portfolio

                
                        
        
    .jarallax#intro
        .contentBlock
            .content
                h1 Sujil Maharjan
                p.
                    I am a junior Computer Science student at Ramapo College of New Jersey with a zeal for software and web development. Having said that, nothing excites me more than coding for countless hours and sketching algorithms on the board with occasional coffee breaks. I am driven towards creativity and innovation. It has led me from innovating apps at various hackathons to founding clubs on campus to help cultivate new ideas. 

                    My passion for learning adventures motivates me to move outside the box when it comes to problem-solving and innovation. Besides computers, I also like to hike and have unique adventures that can make me curious.
                
                #buttonBarForIntro
                    .col-md-6.col-sm-12
                        a.btn.hvr-sweep-to-bottom#hire(type="button") HIRE ME!
                    .col-md-6.col-sm-12
                        a.btn.hvr-sweep-to-bottom#details(type="button")
                            span DETAIL &nbsp &nbsp
                            span.glyphicon.glyphicon-chevron-down
                
    .jarallax#portfolio
        .contentBlock
            .content
    
    .gap
        .col-md-3.col-xs-12
            h3 GET IN TOUCH 
        .col-md-6
            .contacts
                a(href="http://www.github.com/smaharj1", target="_blank")
                    img(src="./images/icons/github.png")
                    span.footerTag Explore my GitHub
            .contacts
                a(href="https://www.facebook.com/tsujil", target="_blank")
                    img(src="./images/icons/facebook.png")
                    span.footerTag Ping me in Facebook
            .contacts
                a(href="https://www.linkedin.com/in/sujilmaharjan", target="_blank")
                    img(src="./images/icons/linkedin.png")
                    span.footerTag Link with me
            .contacts
                a(href="mailto:smaharj1@ramapo.edu", target="_blank")
                    img#gmail-logo(src="http://www.socialtalent.co/wp-content/uploads/2015/07/Gmail-Logo.png")
                    span.footerTag Email me

    script(type='text/javascript').
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
        $('#nav').affix({
          offset: {
            top: $('#mainpage').height()-$('#nav').height()
          }
        })