extends layout

block content
    .jarallax#mainpage
        #myCarousel.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
                //li(data-target='#myCarousel', data-slide-to='3')
            // Wrapper for slides
            .carousel-inner(role='listbox')
                .item.active
                    img(src='./images/sliderImages/image1.jpg', alt='Chania')
                .item
                    img(src='./images/sliderImages/image2.jpg', alt='Chania')
                .item
                    img(src='/images/sliderImages/image3.jpg', alt='Flower')
            // Left and right controls
            a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
        
    #nav.navbar.navbar-custom
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#collapsedMenu",aria-expanded="false") 
                    span.glyphicon.glyphicon-list
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    
                a.navbar-brand(href="#") Sujil Maharjan
            .collapse.navbar-collapse#collapsedMenu
                ul.nav.navbar-nav
                    li 
                        a.active(href="#intro") Introduction
                            span.sr-only 
                    li 
                        a(href="#interest") Interests
                    li 
                        a(href="#contact") Contact Me?
                
                        
        
    .jarallax#intro
        .contentBlock
            .content
                h1 Sujil Maharjan says hello!
                h3 I am a software developer who is interested in forming a career out of software and web development
    
    .jarallax#portfolio
    
    .jarallax#contact
    
    .gap

    script(type='text/javascript').
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
        $('#nav').affix({
          offset: {
            top: $('#mainpage').height()-$('#nav').height()
          }
        })