block navigation
    nav.navbar.navbar-inverse(data-spy="affix", data-offset-top="197")
        .container-fluid
            .navbar-header
                //button(type="button", data-toggle="collapse",data-target="#myNavbar")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") Sujil Maharjan
            div 
                .collapse.navbar-collapse#myNavbar
                    ul.nav.navbar-nav
                        li 
                            a(href="#section1") Home
                        li
                            a(href="#section2") Career Interest
                        li
                            a(href="#section3") Contact Me!      
