@navbarColor:#0b99bc;
@navbarTextColor: #f6f6f6;
@navbarHoverColor: #3c3c3c;

nav{
    border-radius: 0px !important;
}
html, body {
    height: 100%;
}
/* Declare heights because of positioning of img element */

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.carousel,.item,.active{
    height:100%;
}
.carousel-inner{height:100%;}

.navbar-custom {
    background-color: @navbarColor !important;
    margin-bottom: 0px;
}

.navbar-custom .navbar-nav > li > a, .navbar-custom .navbar-brand {
    color:@navbarTextColor;
}

.navbar-custom .navbar-nav > li > a:hover {
    color: @navbarHoverColor;
    background-color: @navbarColor;

}

body {
    font-family: 'Ubuntu', sans-serif;
}

p {
    color: @navbarHoverColor;
}