@navbarColor:#0b99bc;
@navbarTextColor: #f6f6f6;
@navbarHoverColor: #3c3c3c;
@footerColor: #3c3c3c;
@headingColor: #FCDF15;

.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 100vh;
}

/* demo styles */
body {
    margin: 0;
    color: #fff;
    line-height: 1.5;
}
h1 {
    font-size: 50px;
    padding-left:20px;
}
h2 {
    font-size: 30px;
}
p,h3 {
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
small {
    font-size: 75%;
    color: #eee;
}
a, a:visited, a:hover, a:focus {
    color: inherit;
}
a:hover, a:focus {
    color: #ddd;
    text-decoration: none;
}

.widthArrangement() {
    width: 70%;
    margin-left:auto;
    margin-right:auto;
}

.centerWidth {
    .widthArrangement();
}
#buttonBarForIntro {
    .widthArrangement();
    text-align: center;
}

.content {

    p {
        text-align: left;
        font-size: large;
    }
    
    h1 {
        color: @headingColor;
    }
}



/* navigate menu */
.navigate-menu ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
}
.navigate-menu ul li {
    display: inline-block;
}
.navigate-menu ul li a {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
}
.navigate-menu ul li.active a,
.navigate-menu ul li a:hover {
    background-color: @navbarTextColor;
    color: @navbarColor;
}

/* hero block */
.contentBlock {
    display: table;
    width: 100%;
    height: 100vh;
   // padding-top: 100px;
    //background-color: rgba(39,35,51,0.8);
}

.content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
   
}

.padding-basic {
    .basicPadding();
}

.basicPadding() {
    padding-top:20px;
    padding-bottom: 20px;
}

a {
    width: 150px;
    text-align: center;
    vertical-align:middle;
    border-radius: 0px !important;
    border-style: none;

}
.content a {
    margin-bottom: 10px;
    .basicPadding();
}

/* gap */
.gap {
    padding: 50px;
    background-color: #3c3c3c;
    text-align: center;
    height:250px;
}
