nav{
    border-radius: 0px !important;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

body {
    background-color: #f9df8d;
}
  
.navbar-custom {
    background-color: #ee9c21 !important;
}

.navbar-custom .navbar-nav > li > a, .navbar-custom .navbar-brand {
    color:#a34e24;
}

.navbar-custom .navbar-nav > li > a:hover {
    color: #ee9c21;
    background-color:#796e24;
}

