@portfolioBackground: rgba(127,23,31,0.6);
@infoBG: rgba(252,223,21,0.3);

.background1 {
    background: url('/images/image1.jpg');
    background-color: rgba(39,35,51,0.8) ;
}


.background2 {
    background: url('/images/image2.jpg');
    //background-color: @portfolioBackground ;
    background-color: rgba(39,35,51,0.8) ;
}


#contact {
    background:url('/images/image1.jpg');
}

.footerImage {
    height: 30px;
    width: 30px;
}

.footerTag {
    padding-left: 5px;
}

.contacts {
    padding: 5px;
}

#linkedin-logo {
    height: 30px;
    width: 90px;
}

#gmail-logo {
    height:30px;
    width: 40px;
}


hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.resumeHead {
    font-size: 20px !important;
    font-weight: 700;
}

.resumeDate {
    font-style: italic;
}

.info {
    background-color: lighten(@infoBG, 20%);
}

.topics:hover, a:hover {
    cursor:pointer;
}



// Modificationssssssssssss
@header-color: #FCDF15;
@skill-high-color: #00C957;
@skill-medium-color: #FFA500;
@skill-low-color: #1E90FF;
@cornsilk-white: #fff8dc;
@black-color: #222222;


.margin() {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
}

.insideTablePadding() {
    padding-top: 10px;
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 10px;
}

.normalText() {
    font-size: 30px;
}

.general_padding() {
    padding-top: 150px;
    padding-bottom: 150px;
}

p, #passion li {
    .normalText();
}

img.desaturate { 
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}


#footer {
    .margin();
    margin-bottom: 20px;
    text-align: left;
}

.display-option, .logo-display {
    display: none;
    text-align: left;

    img {
        max-height: 100px;
        max-width: 130px;
        object-fit: contain;
        .insideTablePadding();
    }
}

#experience {
    .margin();
}

table li, table ol, table ul, tr, ol{
    font-size: medium ;
    .insideTablePadding();
    cursor: pointer;
    text-align: left;
    list-style: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: lighten(black,20%);
}

.header-color {
    color: @header-color;
}

#skills, #extracurricular {
    .margin();
}

.small-font {
    font-size: medium;
    color: lightgrey; 
}

#skills span {
    display: inline-block;
    background-color: lighten(black,20%);
    min-width: 200px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.skill-high {
    background-color: @skill-high-color !important;
}

.skill-medium {
    background-color: @skill-medium-color !important;
}

.skill_low {
    background-color: @skill-low-color !important;
}



#extracurricular {
    table,tr, td,th {
        .normalText();
        border-style: none;
    }

}

.italic {
    font-style: italic;
    font-size: large;
}

.description {
    font-size: large;
}

.medium-font {
    font-size: large;
}

.black-bg-font {
    color: @cornsilk-white;
}

#gmail-logo {
    height:30px;
    width: 40px;
}

a:hover {
    text-decoration: none;
}

// These consists of block quote stylings
blockquote {

  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
      .margin();
  //padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.author {
    display: block;
    font-size: larger;
    font-style: bold;
    text-align: right;
}

.contacts {
    .insideTablePadding();
    font-size: inherit;

    td {
        padding-right: 10px;
    }
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid @black-color; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		//border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}


}