

#intro {
    background: url('/images/image1.png');
}


#portfolio {
    background: url('/images/image2.jpg');
    background-color: rgba(212,14,82,0.3) !important;
}


#contact {
    background:url('/images/image1.png');
}

.footerImage {
    height: 30px;
    width: 30px;
}

.footerTag {
    padding-left: 5px;
}

.contacts {
    padding: 5px;
}

#linkedin-logo {
    height: 30px;
    width: 90px;
}

#gmail-logo {
    height:30px;
    width: 40px;
}

