@portfolioBackground: rgba(212,14,82,0.3);
@infoBG: rgba(252,223,21,0.3);

#intro {
    background: url('/images/image1.png');
}


#portfolio {
    background: url('/images/image2.jpg');
    background-color: @portfolioBackground !important;
}


#contact {
    background:url('/images/image1.png');
}

.footerImage {
    height: 30px;
    width: 30px;
}

.footerTag {
    padding-left: 5px;
}

.contacts {
    padding: 5px;
}

#linkedin-logo {
    height: 30px;
    width: 90px;
}

#gmail-logo {
    height:30px;
    width: 40px;
}


hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.resumeHead {
    font-size: 20px !important;
    font-weight: 700;
}

.resumeDate {
    font-style: italic;
}

#skills {
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
}

.info {
    background-color: lighten(@infoBG, 20%);
}

.topics:hover, a:hover {
    cursor:pointer;
}
